li{
    display: inline;
    list-style: none;
}

body{
    background:orange;
}

nav{
    background: red;
}

.container{
    width: 500px;
    margin: auto;
    text-align: center;
    background: white;
}